 
<div class="js-pagination-box_pages">
    <div class="pag-left js-move-left"></div>
    <span class="pagenumbers" id="pag1">1</span>
    <span class="pagenumbers" id="pag2">2</span>
    <span class="pagenumbers" id="pag3">3</span>
    <span class="pagenumbers" id="pag4">4</span>
    <span class="pagenumbers" id="pag5">5</span>
    <span class="pagenumbers" id="pag6">6</span>
    <span class="pagenumbers" id="pag7">7</span>
    <span class="pagenumbers" id="pag8">8</span>
    <span class="pagenumbers" id="pag9">9</span>
    <div class="pag-right js-move-right"></div>
</div>
