
<div class="pagenumbers pag-left  js-move-left"></div>
<span class="pagenumbers js-page-number js-current-number-page_Btn" id="pag1">1</span>
<span class="pagenumbers js-page-number" id="pag2">2</span>
<span class="pagenumbers js-page-number" id="pag3">3</span>
<span class="pagenumbers js-page-number" id="pag4">4</span>
<span class="pagenumbers js-page-number" id="pag5">5</span>
<span class="pagenumbers js-page-number" id="pag6">6</span>
<span class="pagenumbers js-page-number" id="pag7">7</span>
<span class="pagenumbers js-page-number three-dots" id="pag8"></span>
<span class="pagenumbers js-page-number" id="pag9">1000</span>
<div class="pagenumbers pag-right js-move-right"></div>

