// .backdrop {
//   top: 230px;
// }

ul {
  padding-inline-start: 0px;
  // text-align: center;
}

.modal {
  position: relative;
  z-index: 1000;
  // display: flex;
  align-items: center;
  top: 0px;
  left: 50%;
  // right: 50%;
  transform: translate(-50%);
  background: $white-color;
  // padding: 50px;
  width: 80%;
  // height: 634px;
  border-radius: 5px;
  padding: 1px;

  @media screen and (max-width: 390px) {
    width: 100%;

    &.modal-img {
      width: 294px;
    }

    & img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
  }

  @media screen and (min-width: 767px) and (max-width: 1023px) {
    width: 768px;

    &.modal-img {
      width: 294px;
    }

    & img {
      width: 294px;
    }
  }

  @media screen and (min-width: 1024px) {
    width: 768px;

    &.modal-img {
      width: 426px;
    }
  }
}

.modal-item {
  margin: auto;
}

.modal-img {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.backdrop.opened {
  opacity: 1;
  pointer-events: initial;
}

.backdrop-content {
  & > li {
    width: 100%;
    padding: 15px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;

    & > li {
      width: 100%;
      padding: 15px;
    }
  }
}

.content-description {
  padding-top: 40px;

  & ul {
    margin-top: -10px;
    margin-bottom: -10px;
  }

  & h2 {
    font-style: 500 30px/1.17 'Roboto', sans-serif;
    text-transform: uppercase;
  }

  & ul > li {
    display: flex;
    margin-bottom: 10px;
    font-style: 500 12px/1.33 'Roboto', sans-serif;
  }

  & h3 {
    text-transform: uppercase;
    font-style: 500 12px/1.33 'Roboto', sans-serif;
  }

  & p {
    font-style: 500 12px/1.66 'Roboto', sans-serif;
  }

  & .overview {
    padding-left: 0px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .modal-list > li p {
    width: 40%;
  }

  .description-header {
    font-style: 500 12px/1.33 'Roboto', sans-serif;
    color: $grey-color;
  }

  ul.genre-list {
    margin: 0;
    padding: 4px;
    display: flex;
    flex-wrap: nowrap;
  }

  .genre-list > li {
    display: inline;
    margin-right: 5px;
    padding: 3px;
  }

  .genre-list li:not(:last-child) {
    margin-right: auto;
  }

  .vote {
    padding: 1px 10px;
    background: $active-color;
    color: $white-color;
    border-radius: 5px;
  }

  .btn-list {
    display: flex;
    padding: 10px;
    margin: 10px;

    & li {
      width: 50%;
    }

    & li:not(:last-child) {
      margin-right: 10px;
      margin-left: -10px;
    }
  }
}

.backdrop button {
  width: 136px;
  height: 44px;
  padding: 14px 20px;

  box-sizing: border-box;
  border-radius: 5px;
  font-size: 12px;
  line-height: 16px;
  font-style: 500 12px/1.33 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  transition: all 250ms linear;
  cursor: pointer;

  &:hover {
    border: 1px solid $dark-color;
    background: $bkg-btn-color;
    color: $white-color;
    border: none;
  }

  &.clicked {
    background: $bkg-btn-color;
    color: $white-color;
    border: none;
  }

  &:active {
    border: 1px solid $dark-color;
    background: $dark-color;
    color: $white-color;
    border: none;
  }
}

.backdrop {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  // position: fixed;
  top: 230px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  pointer-events: initial;
  z-index: 100;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.backdrop.is-hidden {
  // display: none;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.visabilyty-off {
  visibility: hidden;
  opacity: 0;
}

.visabilyty-on {
  visibility: visible;
  opacity: 1;
}
