.footer {
  width: 100%;
  height: 100px;
  background-color: #f7f7f7;

  &-box {
    // position: relative;
    display: flex;
    padding: 0px 6px 0px 6px;
  }

  @media (min-width: 768px) {
    height: 77px;
  }

  &-copyright {
    color: #545454;
    margin: 0;
    padding-top: 29px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    line-height: 1.7;
    // cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 560px) {
      display: block;
      height: 77px;
      align-items: center;
    }

    @media (min-width: 768px) {
      margin: 0;
      padding-top: 30px;
      margin-left: auto;
      margin-right: auto;
      font-size: 16px;
      line-height: 1.7;
      // cursor: pointer;
      align-items: center;
    }

    a {
      text-decoration: underline;
      color: #545454;
    }
  }
}

.swipe-up {
  position: fixed;
  bottom: 80px;
  right: 40px;
  z-index: 9999;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 1px 8px 3px rgba(165, 165, 165, 0.6);
  // text-align: center;
  line-height: 30px;
  background: #ff6b08;
  // color: #444;
  background-image: url(../images/arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  display: none;
}

.swipe-up:hover {
  // background: #e9ebec;
  opacity: 0.7; /*прозорість*/
}

.swipeup-show {
  display: block;
}

.film-tooltip-container {
  position: relative;
}

.film-tooltip {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 10px;
  position: absolute;
  min-width: 300px;
  font-size: 14px;
  text-align: initial;
  transition: all 300ms ease;
  bottom: 20px;
  left: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  // opacity: 0;
  display: none;
  transform: translateY(20px) translateX(-50%);

  &.active {
    // opacity: 1;
    display: inline;
    transform: translateY(0) translateX(-50%);
  }
}
.photo {
  border-radius: 100px;
  box-shadow: 0 0 7px #666;
}
