.header {
  height: 230px;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.56);
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)
    ),
    url(../images/rectangle.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header.bcg-libr {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)
    ),
    url(../images/Rectangle1_1.jpg);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 0px 0px 0px 0px;

  &_logo {
    display: flex;
    align-items: center;
    margin-top: 48px;

    img {
      margin-right: 12px;
    }
  }

  &_h1 {
    display: none;
    // font-family: 'Roboto';
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;
    color: #ffffff;
    // letter-spacing: 1px;
    // margin-top: 2px;

    @media (min-width: 768px) {
      display: block;
    }
  }
}

// header-nav_list
.header-nav_list {
  display: flex;
  padding: 10px 0px;
  margin-top: 58px;
  // margin-right: 20px;

  align-items: center;

  // font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;

  &-item-link {
    position: relative;
    color: #ffffff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 4px;
      background-color: #ff6b08;
      border-radius: 2px;
      transform-origin: center left;
      transform: scaleX(0);
      transition: transform 300ms ease;
    }

    &:hover,
    &.current {
      &::after {
        transform: scaleX(1);
      }
    }
  }

  &-item {
    margin-left: 39px;
  }
}

.header-nav_list .current::after {
  content: '';
  position: absolute;

  display: block;
  width: 100%;
  height: 4px;
  background-color: #ff6b08;
  border-radius: 2px;
}

//search-form
.search-film-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-film-form.is-hidden {
  display: none;
}

.search-film-form input {
  background: none;
  background-image: url(../images/search_icon.png);
  padding: 1px;
  background-repeat: no-repeat;
  background-position: center right;
  width: 280px;
  max-width: 100%;
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;
  border: none;
  border-bottom: 0.5px solid #ffffff;
  text-align: center;

  &::placeholder {
    text-align: left;
    color: #ffffff;
  }

  &:focus {
    outline: none;
  }

  @media (min-width: 768px) {
    font-size: 17px;
    width: 360px;
  }
}

.search-film-errors {
  font-size: 14px;
  line-height: 1.7;
  color: #ff001b;
  // display: none;
}

//header-library
.home-button,
.my-library-button {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: #ffffff;
  border: none;
  background-color: inherit;
}
// .my-library-button {
//   margin-right: 75px;
// }
.home-button {
  margin-right: 39px;
}

.watched-show-btn,
.queue-show-btn {
  width: 136px;
  height: 44px;
  border-radius: 5px;
  margin-left: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  color: #ffffff;
  background-color: inherit;
  border: 1px solid #ffffff;

  @media screen and (max-width: 767px) {
    width: 129px;
  }
}

.home-button::after {
  width: 100%;
  height: 3px;
  content: ' ';
  display: block;
  background-color: #ff6b08;
}

.my-library-button::after {
  width: 100%;
  height: 3px;
  content: ' ';
  display: block;
  background-color: #ff6b08;
}

.library-navigation {
  text-align: center;

  @media screen and (max-width: 767px) {
    display: flex;
  }
}

.orange {
  background-color: #ff6b01;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  border: #ff6b01;
}
