.container {
  margin-left: auto;
  margin-right: auto;
  //padding-left: 20px;
  //padding-right: 20px;

  @media screen and (min-width: 320px) {
    width: 320px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1024px) {
    width: 1024px;
  }
}
/////////////////////////временные стили для карточек. Убери когда будешь добавлять свои
.gallery {
  padding: 0px;
  margin-left: 20px;
  margin-right: 20px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: 75px;
    //margin-right: 75px;
  }
  @media screen and (min-width: 1024px) {
    margin-left: 70px;
    margin-right: 70px;
  }
}
.gallery-item {
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  margin-right: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
    margin-bottom: 30px;
    margin-right: 30px;
  }
  @media screen and (min-width: 1024px) {
    width: calc((100% - 30px * 2) / 3);
  }
}
.gallery-item:nth-last-child(2n) {
  @media screen and (min-width: 768px) {
    margin-right: 0px;
  }
  @media screen and (min-width: 1024px) {
    margin-right: 30px;
  }
}
.gallery-item:nth-last-child(3n) {
  @media screen and (min-width: 1024px) {
    margin-right: 0px;
  }
}

.gallery-image {
  width: 280px;
  margin-bottom: 10px;
  border-radius: 5px;
  @media screen and (min-width: 768px) {
    min-width: 293px;
  }
  @media screen and (min-width: 1024px) {
    min-width: 274px;
  }
}
.card-title {
  color: black;
  margin-top: 0px;
  margin-bottom: 5px;
  max-width: 274px;
}
.card-content {
  color: orange;
  display: flex;
  margin: 0px;
  max-width: 274px;
  & p {
    margin: 0px;
  }
  & ul {
    padding: 0px;
  }
}

///////////////////////////////////////////
