.gallery-bgr {
  background-color: rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.36),
      rgba(197, 0, 0, 0.16)
    ),
    url(../images/missing-films.jpg);
  //   background-position: center;
  background-size: cover;
  //   background-repeat: no-repeat;
  @media screen and (max-width: 767px) {
    height: 300px;
  }
  @media screen and (min-width: 768px) {
    height: 600px;
  }
}
.empty-library {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  //   font-size: 12px;
  line-height: 1.17;
  color: black;
  font-size: 20px;
}
